.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #51ea5c;
    border-radius: calc(0.5rem * var(--mantine-scale));
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    -webkit-border-radius: calc(0.5rem * var(--mantine-scale));
    -moz-border-radius: calc(0.5rem * var(--mantine-scale));
    -ms-border-radius: calc(0.5rem * var(--mantine-scale));
    -o-border-radius: calc(0.5rem * var(--mantine-scale));
}

.overlayContainter {
    position: relative;
}

.overlayContainter:hover .hoverOverlay {
    opacity: 0.6;
}

.limitedImage {
    object-position: top;
    object-fit: cover;
}

.imageButton {
    height: fit-content;
    padding-bottom: 10px;
}

.correctImage {
    transition: .3s ease;
    border: 10px solid #51ea5c;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.incorrectImage {
    transition: .3s ease;
    border: 10px solid #ea5151;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.correctOverlay {
    transition: .3s ease;
    background-color: #51ea5c;
    border-radius: 20px;
    opacity: 0.4;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.incorrectOverlay {
    transition: .3s ease;
    background-color: #ea5151;
    border-radius: 20px;
    opacity: 0.4;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.headerContainer {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr);
    justify-items: center;
    align-items: center;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.gradientButton :hover { /*Currently only changes over the center of the button and doesn't animate out*/
    color: #aaa;
    transition: color .2s ease;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
}

.mantine-NumberInput-input.perfectDate {
    transition: .3s ease;
    border: solid #51ea5c;
}

.mantine-NumberInput-input.goodDate {
    transition: .3s ease;
    border: solid #f2ff62;
}

.mantine-NumberInput-input.badDate {
    transition: .3s ease;
    border: solid var(--mantine-color-red-9);
}

.mantine-Popover-dropdown.goodNews, .mantine-Popover-arrow.goodNews {
    border: solid #51ea5c 2px;
}

.mantine-Popover-dropdown.badNews, .mantine-Popover-arrow.badNews {
    border: solid var(--mantine-color-red-9) 2px;
}

.zoomImage:hover {
    cursor: zoom-in;
}

.websiteTitle:hover {
    cursor: grab;
}